<% if record.errors.any? %>
  <div id="error_explanation" class="well">
    <h3 class="alert alert-danger">
      The form has <%= pluralize(record.errors.count, "error") %>:
    </h3>
    <ul>
      <% record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
