<% if record.errors.any? %>
  <div class="error-panel well">
    <h3 class="alert alert-danger">
      The form has <%= pluralize(record.errors.count, 'error') %>:
    </h3>
    <ul>
      <% record.errors.full_messages.each do |msg| %>
        <li class="error-panel__item"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
