<%= form_tag meal_orders_path(@meal) do %>
    <p>
      <%= label_tag :description %><br>
      <%= text_area_tag :description, '', :class => 'form-control' %>
    </p>
    <p>
      <%= submit_tag 'Start order', :class => 'btn btn-primary' %>
    </p>
<% end %>