<div>
  <% if @list.blank? %>
    No results found
  <% end %>
  <ul class="list-group">
    <% @list.each do |elem| %>
      <a href="" class="element list-group-item">
        <span>
          <span><%= elem %></span>
          <span class="hidden helper-value"><%= elem %></span>
        </span>
      </a>
    <% end %>
  </ul>
</div>