<p>
  <%= link_to raw('<i class="glyphicon glyphicon-chevron-left"></i> Back'),
              dishes_path, class: 'btn btn-lg btn-default' %>
</p>

<div class="margin-top">
  <h3><%= @dish.name %></h3>

  <p>
    <strong>Info:</strong> <%= @dish.info %>

    <span class="pull-right">
      <%= link_to 'Edit', edit_dish_path(@dish),
                  class: 'btn btn-primary' %>
    </span>
  </p>
</div>
