/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#error_explanation {
  background-color: palegoldenrod;
  padding: 0.5em 2em;
}

table.meal-list-item {
  width: 100%;
  border: solid 1px #bbb;
  th, td {
    padding: 0.5em;
    vertical-align: baseline;
    border-left: solid 1px #bbb;
  }
  tr:nth-child(even) {
    border-bottom: solid 1px #bbb;
  }
}

.gravatar {
  float: left;
  margin-right: 1em;
}

/* search helper */
.search-helper {
  position: relative;
  width: 100%;
  height: 0;
}

.search-helper > div {
  position: relative;
  top: 0;
  width: 100%;
  min-height: 4em;
  max-height: 35vh;
  z-index: 10;
  background-color: #f4f4f4;
  border: #eaeaea 1px solid;
  transition: height 0.5s ease;
  padding-top: 0;
}

.search-helper.hidden > div {
  max-height: 20px;
}

.search-helper ul.list-group {
  margin-bottom: 0;
}

/* general purpose */
.margin-top {
  margin-top: 1em;
}